/tmp
/binaries
/coverage*.txt
/api/*.html
/internal/core/VERSION
/internal/servers/hls/hls.min.js
/internal/staticsources/rpicamera/mtxrpicam_*/

# UI
/ui/node_modules
/ui/dist
/ui/dist-electron
/ui/release
